@model OnlineShop.Models.Items

@{
    ViewBag.Title = "Item-" + Model.Titulo;
}

<h2>Item:@Model.Titulo</h2>


<div id="album-details">
    <p>
        <img  width="200" height="300" alt="@Model.Titulo" src="@Model.ItemArtUrl"/>
    </p>
    <p>
        <em>Categoria:</em>
        @Model.Categoria.Nombre
    </p>
    <p>
        <em>Proveedor:</em>
        @Model.Productor.Name
    </p>
    <p>
        <em>Precio:</em>
        @String.Format("{0:F}",
        Model.Precio)
    </p>

    <p class="button">
        @Html.ActionLink("Add To Cart", "AddToCart",
        "CarritoCompras", new { id = Model.ItemId }, "")
    </p>
</div>